*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
.container{
  max-width: 800px;
  margin: 0 auto;
}
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  position: relative;
}
.canvas-container{
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas{
  position: absolute;
}
#canvas:hover{
  cursor: crosshair;
}
#canvasGrid{
  border: 1px solid black;
  z-index: -1;
}
.hide{
  display: none;
}
.canvasWidth, .canvasHeight, .submitBtn, .resetBtn, .clearBtn, .saveBtn{
  width: 60px;
  margin: 5px;
  padding: 5px;
}
.canvasWidth, .canvasHeight{
  height: 10px;
}
.colorPicker{
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.menu{
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.submitBtn, .resetBtn, .clearBtn, .saveBtn, .pixelSize{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearBtn, .saveBtn, .pixelSize{
  margin: 10px 0;
}
.chkgrid{
  margin-left: 30px;
}
.switchType{
  display: flex;
  justify-content: center;
  align-items: center;
}