//sideNav
$sideNave-text-color: var(--black);
$listHover--color: rgb(235, 235, 235);
$listActive--color: rgba(0, 78, 245, 0.719);

#sideMenu{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -70px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    &:not(.active){
        width: calc(200px - 135px);
        box-shadow: none;
        .nav-text, .iconArrowdrop{
            display: none;
        }
        .nav-link{
            opacity: 0.4;
            &:hover{
                opacity: 1;
            }
        }
    }
    &.active{
        width: 200px;
    }
    .hamburger{
        display: inline-flex;
        align-items: center;
        margin: 10px 18px;
        .toggler{
            width: 30px;
            height: 30px;
            opacity: 0;
            z-index: 101;
            cursor: pointer;
            position: relative;
            &:checked + .bars{
                transform: rotate(45deg);
            }
            &:checked + .bars > .ham-icon{
                background-color: transparent;
            }
            &:checked + .bars > .ham-icon::after{
                transform: rotate(180deg);
            }
            &:checked + .bars > .ham-icon::before{
                transform: rotate(-90deg);
            }
        }
        .bars{
            position: absolute;
            cursor: pointer;
            margin: 10px 0;
            transition: 0.2s ease-in-out;
            .ham-icon{
                width: 30px;
                height: 3px;
                background-color: $sideNave-text-color;
                margin: 5px 0;
                border-radius: 50px;
                &::after, &::before{
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    border-radius: 50px;
                    background-color: $sideNave-text-color;
                    transition: 0.2s ease-in-out;
                }
                &::after{
                    transform: translateY(7px);
                }
                &::before{
                    transform: translateY(-7px);
                }
            }
        }
    }
    .nav-side-menu{
        padding: 5px;
        .underlist{
            .list-item{
                margin-bottom: 5px;
                .nav-link{
                    color: $sideNave-text-color;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 5px 0;
                    &:hover{
                        background-color: $listHover--color;
                    }
                    &.curpage{
                        background-color: rgb(0, 128, 185);
                        opacity: 1;
                    }
                    .nav-icon{
                        margin: 0 15px;
                        min-width: 25px;
                        min-height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 30px;
                            max-height: 30px;
                        }
                        .dlbtn-inwrap{
                            position: relative;
                            width: 30px;
                            height: 30px;
                            .dlbtn-wrap{
                                max-width: 30px;
                                max-height: 30px;
                                position: absolute;
                                .dlbtn-path{
                                    fill: $sideNave-text-color;
                                }
                            }
                        }
                    }
                    .nav-text{
                        min-width: 110px;
                        font-size: 0.9em;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .iconArrowdrop{
                        stroke: $sideNave-text-color;
                        transform: rotate(-90deg);
                        transition: 0.1s ease-in-out;
                        &.open{
                            transform: rotate(0deg);
                        }
                    }
                    &:active{
                        background-color: $listActive--color;
                        color: #fff;
                    }
                }
                .btnDropmenu{
                    user-select: none;
                }
            }
            .has-treeview{
                .underlist{
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 0.2s ease-out;
                    .list-item{
                        margin-left: 10px;
                        .nav-icon{
                            min-width: 25px;
                        }
                        .nav-text{
                            font-size: 0.8em;
                        }
                    }
                }
            }
            .list-item, .list-treeview,
            .nav-link, .nav-icon{
                border-radius: 5px;
            }
        }
    }
}