*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerStylingtag{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .box{
        display: flex;
        width: 800px;
        border-radius: 10px;
        background-color: hsl(0, 0%, 99%);
        @media screen and (max-width: 492px){
            display: block;
            height: 400px;
            width: auto;
            margin-top: 65px;
        }
        .leftbox{
            overflow-y: scroll;
            @media screen and (max-width){
                justify-content: space-between;
            }
            .description{
                font-size: .8em;
            }
            .sampletext{
                position: sticky;
                top: 0;
                width: 100%;
                padding: 5px;
                margin: 5px 0;
            }
        }
        .rightbox{
            .tagLists{
                .stylingTags{
                    font-size: .8em;
                    color: hsl(0, 0%, 100%);
                    font-weight: 600;
                    margin-right: 4px;
                    margin-top: 5px;
                    background-color: hsl(0, 0%, 80%);
                    display: inline-block;
                    padding: 3px 10px !important;
                    border-radius: 15px;
                    cursor: pointer;
                    box-shadow: 0 3px 6px -2px rgba($color: #000000, $alpha: .3);
                }
            }
            @media screen and (max-width: 492px){
                border-top: 1px solid #ddd;
            }
        }
        .leftbox, .rightbox{
            min-width: 200px;
            min-height: 200px;
            width: 100%;
            max-width: 400px;
            max-height: 400px;
            padding: 20px;
            @media screen and (max-width: 492px){
                height: 50%;
                overflow-y: scroll;
            }
        }

    }
    @media screen and (max-width: 576px){
        align-items: flex-start;
    }
}
.contrastRatio{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    .ratioValue{
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 3px;
    }
    select[name=colortag]{
        width: 100px;
        margin-left: 20px;
    }
}
.setColor{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addCustomTags{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nameTag, .colorTag, .submitBtn{
        margin: 5px;
    }
    .nameTag{
        width: 120px;
        padding: 0 5px;
    }
    .labelPickingColor{
        font-size: .7em;
    }
    .colorTag{
        width: 40px;
    }
    .submitBtn{
        width: 40px;
    }
}